doctype html5
html
  head
    meta(charset="utf-8")
    style.
      * {padding:0;margin:0}
      .box {position:fixed; height:50px; width: 50px; background:black;}
  body
    .ct
      span.player(style="position:fixed;width:20px;height:30px;background:red")

    script(src="bower_components/prelude-ls/prelude-browser.js")
    script(src="bower_components/lodash/lodash.js")
    script(src="bower_components/jquery/jquery.js")
    script(src="furp.js")
    script(src="scope.js")
    script(src="game.js")
