!!! 5
html
  head
    meta(charset="utf-8")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/cosmo/bootstrap.min.css", rel="stylesheet")
  body
    .navbar
      .navbar-inner
        a.brand(href="#")

    .container
      .hero-unit
        h1 furp
        p try some neat examples
        a.btn.btn-primary.btn-large(href="test.html") Try It!»

    script(src="components/prelude-ls/prelude-browser.js")
    script(src="components/lodash/lodash.js")
    script(src="components/jquery/jquery.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
    script(src="furp.js")
    script(src="test.js")
